.user-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 8px;
  width: calc(100vw - 32px);
  max-width: 480px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.48);
  background-color: rgba(0, 0, 0, 0.48);
  transition: ease-out 625ms;
  transition-property:
    top,
    left,
    transform;
}

.user-controls--minimized {
  top: 8px;
  left: 8px;
  transform: translate(0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.48);
  background-color: transparent;
  overflow: visible;
}
