.user-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 8px;
  width: calc(100vw - 32px);
  max-width: 480px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.48);
  background-color: rgba(0, 0, 0, 0.48);
  transition: ease-out 625ms;
  transition-property:
    top,
    left,
    transform;
}

.user-controls--minimized {
  top: 8px;
  left: 8px;
  transform: translate(0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.48);
  background-color: transparent;
  overflow: visible;
}

.title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 32px;
  white-space: nowrap;
  text-align: center;
  text-shadow: 0 0 8px rgb(0, 0, 0);
  transform-origin: 0 0;
  font-family: 'Roboto Mono', monospace;
}

.title--minimized {
  text-align: left;
  transform: scale(0.75);
  margin-bottom: 4px;
}

.title__emoji {
  position: relative;
  top: 3px;
  font-size: 32px;
  line-height: 32px;
}

.title__emoji:first-child {
  margin-right: 4px;
}

.title__emoji:last-child {
  margin-left: 4px;
}

.user-controls--minimized .title__emoji:first-child {
  margin-right: 12px;
}

.intro {
  text-align: center;
  margin-bottom: 24px;
  transition: ease-out 625ms;
  transition-property:
    transform,
    height,
    margin,
    opacity;
}

.intro--minimized {
  transform: scaleY(0);
  height: 0;
  margin: 0;
  opacity: 0;
}
