* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(52, 51, 50);
}

body {
  margin: 0;
  padding: 0;
}

a,
html {
  color: rgba(250, 237, 181, 0.88);
}
